
<?php if($this->isEnabled()): ?>
<a id='backupRestore' href='/BlueSystem/BackupRestore.php'>Backup/Restore settings</a>
<?php else: ?>
<span id='backupRestoreOff'>Backup/Restore settings</span>
<?php endif; ?>
