<!DOCTYPE html>
<html>
  <head>

<?php 
   $TITLES = $this->getTitle();
   $REFERENCE = $this->getReference();
?>

<title>BlueProjectPHP</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="copyright" content="Copyright 2012, BlueEyeVideo" />
<link rev="made" href="mailto:fabien.pelisson@blueeyevideo.com" />

<?php foreach($this->getStyles() as $elt): ?>
<link rel="stylesheet" type="text/css" href="<?php echo $elt; ?>"/>
<?php endforeach; ?>

<?php foreach($this->getLibs() as $elt): ?>
<script type="text/javascript" src="<?php echo $this->getLibFile($elt); ?>"></script>  
<?php endforeach; ?>

   </head>

   <body>

     <div id="BSApplication" class="Application">

       <div class="tophead">

	 <div id="identityMenu" class="TabsMenu">
	   <ul class="navigation">
	     <li id="statusButton"></li>
	     <li class="IdMenu">GesCom</li>
	   </ul>
	 </div>	
 
	 <div id="mainMenu">
	   <!-- filled dynamically with the menu entries -->
	 </div>	 

      </div>

      <div id="center">
        <div id="content" class="VBox Container Frame">
        </div>
	
	<div id="DialogList">
	  <!-- contains dynamically created dialog window -->
	</div>
	
      </div>
      
      <script type="text/javascript">
	<?php echo $this->renderJS(); ?>
      </script>    
      
</body>
</html>
